<div class="container">
  <div class="row">
      <hr>
      <!-- <button class="btn btn-primary" (click)="showDetails = !showDetails">Display Details</button> -->
      <button class="btn btn-primary" (click)="Btn()">Display Details</button>
      <hr>
      <p *ngIf="showDetails">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa molestias aperiam sunt, ducimus eveniet, earum libero iste incidunt possimus voluptatem praesentium recusandae ut minus quis harum magni beatae id error!</p>
      <p *ngFor="let logItem of log" 
      [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : 'transparent'}"
      [ngClass]="{'white-text': logItem >= 5}">{{logItem}}</p>
  </div>
</div>
